.home-heading {
  font-size: 90px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 1440px;
  margin: auto;
}
.home-heading span {
  color: #5d8c87;
  transition: 0.2s ease-in;
}
.home-heading span:hover {
  color: white; /* Text color */
  -webkit-text-stroke: 1.5px #5d8c87; /* Outline width and color */
}
.about-company {
  background: url("../../assets/images/abt-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 50px 100px 50px;
  position: relative;
  margin-block: 50px;
}
.vector-grp img {
  position: absolute;
}
.vector-grp img:nth-child(1) {
  top: 0;
  left: 0;
}
.vector-grp img:nth-child(2) {
  top: 0;
  right: 0;
}

.abt-com-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
  line-height: 1;
}
.abt-com-flex div:last-child {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  width: 685px;
  line-height: 1.5;
}
.abt-com-flex div:first-child p {
  font-size: 72px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.recent-works {
  margin-block: 100px;
}
.recent-works-heading {
  max-width: 1440px;
  margin: auto;
  text-align: center;
}
.recent-works-heading p:nth-child(1) {
  font-size: 72px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1;
}
.recent-works-heading p:nth-child(2) {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.recent-works-heading button {
  background-color: black;
  color: white;
  border: none;
  width: 117px;
  height: 40px;
  border-radius: 10px;
}
.recent-flex {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.recent-flex div {
  background-color: black;
  border-radius: 20px;
}
.center-box {
  max-width: 450px;
  width: 450px;
  height: 600px;
}
.small-box {
  max-width: 285px;
  width: 285px;
  height: 380px;
}
@media screen and (max-width: 320px) {
  /* Styles for smaller smartphones */
  .home-heading {
    font-size: 30px;
  }
  .vector-grp {
    display: none;
  }
  .about-company {
    background: none;
  }
  .abt-com-flex div:first-child p {
    font-size: 30px;
  }
  .abt-com-flex {
    gap: 10px;
  }
  .about-company {
    background: none;
    padding: 10px;
    text-align: justify;
    margin-block: 50px;
  }
  .center-box {
    max-width: 285px;
    width: 285px;
    height: 380px;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  /* Styles for larger smartphones */
  .home-heading {
    line-height: 1.5;
    font-size: 30px;
  }
  .vector-grp {
    display: none;
  }

  .abt-com-flex div:first-child p {
    font-size: 40px;
  }
  .abt-com-flex {
    gap: 10px;
  }
  .about-company {
    background: none;
    padding: 10px;
    text-align: justify;
    margin-block: 50px;
  }
  .center-box {
    max-width: 285px;
    width: 285px;
    height: 380px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Styles for tablets */
  /* .vector-grp {
    display: none;
  }
  .about-company {
    background: none;
  } */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for small desktops and tablets in landscape */
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Styles for larger desktops and laptops */
}

/* Additional media queries for larger screens can be added if needed */
